@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Suas variáveis globais */
:root {
  --font-sans: "Figtree", sans-serif;
  --default: #298ba1;
  --default-secondary: #32a2b9;

  --dark-primary: #1d232a;
  --dark-secondary: #191e24;
  --dark-tertiary: #14191f;

  --light-primary: #f4f6f9;
  --light-secondary: #ebeef4;
  --light-tertiary: #d8dee9;

  --text-primary: #1375c0;
  --primary: #188ae2;
  --primary-secondary: #dcedfb;

  --text-secondary: #4d59a0;
  --secondary: #5b69bc;
  --secondary-secondary: #e6e9f5;

  --text-success: #4fab5a;
  --success: #5cc66a;
  --success-secondary: #dbf6e9;

  --text-danger: #db4d52;
  --danger: #f2585a;
  --danger-secondary: #fce6e6;

  --text-warning: #dcab45;
  --warning: #f9c851;
  --warning-secondary: #fef7e5;

  --text-info: #2dabdb;
  --info: #35b8e0;
  --info-secondary: #e1f4fa;

  --text-light: #8a9ebb;
  --alert-light: #eef2f7;
  --alert-light-secondary: #fbfbfd;

  --text-dark: #343a40;
  --alert-dark: #313a46;
  --alert-dark-secondary: #ced4da;

  --sombra: #1b2026;
  --borda: #313a46;
}

@layer components {
  /****** Início Login ******/
  /* Estilização do fundo */
  .bg-login {
    @apply bg-(--light-secondary) min-h-screen flex flex-col justify-center 
      items-center dark:bg-(--dark-secondary);
  }

  /*.bg-login {
    @apply min-h-screen flex flex-col justify-center items-center;
    background-image: linear-gradient(
        rgba(41, 139, 161, 0.9),
        rgba(216, 222, 233, 0.8)
      ),
      url("https://t3.ftcdn.net/jpg/05/81/81/02/360_F_581810240_UuHakhuiTj9XnOuMtAutxO604AIDC29x.jpg");
    background-size: cover;
    background-position: center;
  }*/

  /* Container principal do formulário
  .card-login {
    @apply bg-(--light-primary) mt-6 w-full overflow-hidden px-6 py-4 border 
      border-gray-100 sm:max-w-md sm:rounded-lg dark:bg-(--dark-primary);
  }*/

  /*
  .card-login {
    @apply mt-6 w-full overflow-hidden px-6 py-4  sm:max-w-md;
  }*/

  /* Wrapper da logo */
  .logo-wrapper-login {
    @apply flex justify-center;
  }

  /* Estilização da logo */

  /* Logo */
  .title-logo {
    color: var(--default);
    @apply text-4xl font-semibold text-center mb-2 text-shadow-md;
  }

  /* Estilização do título */
  .title-login {
    @apply text-2xl font-semibold text-center text-(--default) mb-3 text-shadow-md;
  }

  .subtitle-login {
    @apply text-center text-gray-600 mb-4 dark:text-gray-300;
  }

  /* Margem superior para os campos */
  .form-group-login {
    @apply mt-4;
  }

  /* Estilização do label */
  .form-label-login {
    @apply text-gray-700 block text-sm font-medium dark:text-gray-400;
  }

  /* Estilização do input 
  .form-input-login {
    @apply mt-1 w-full p-3 pr-10 text-gray-600 rounded-xl border border-gray-300
      focus:border-gray-300 focus:ring-2 focus:ring-(--default) focus:outline-none 
      px-3 py-3 dark:border-gray-600 dark:text-gray-200 dark:placeholder-gray-400;
  }*/

  .form-input-login {
    @apply mt-1 w-full p-3 pr-10 text-gray-600 rounded-xl border 
         border-gray-300 
         focus:border-(--default) 
         focus:ring-1 focus:ring-(--default) focus:outline-none 
         px-3 py-3 
         dark:border-gray-600 dark:text-gray-500 dark:placeholder-gray-400;
  }

  /* vazio → cinza */
  .form-input-login:placeholder-shown {
    @apply bg-gray-100 dark:bg-(--dark-primary) shadow-lg;
  }

  /* preenchido → branco */
  .form-input-login:not(:placeholder-shown) {
    @apply bg-white dark:bg-(--dark-secondary) shadow-lg;
  }
  /* Margem superior para o link e o botão */
  .btn-group-login {
    @apply mt-4 flex items-center justify-between;
  }

  /* Link da página de login */
  .link-login {
    @apply text-base  hover:no-underline text-(--default) hover:text-(--default-secondary);
  }

  .showPassword {
    @apply absolute right-3 mt-4 text-gray-600 hover:text-gray-400;
  }

  .btn-login {
    @apply bg-(--default) w-full text-shadow-md shadow-xl  text-white text-xl
     px-2 py-2 rounded-xl hover:bg-(--default-secondary)  cursor-pointer;
  }

  /****** Fim Login ******/

  /****** Início Navbar ******/
  /* Estilização do fundo */
  .bg-dashboard {
    @apply bg-(--light-secondary) dark:bg-(--dark-secondary) min-h-screen;
  }

  /* Navbar */
  .navbar {
    @apply bg-(--light-primary) px-4 py-2 sm:px-6 shadow-md lg:px-8 
      dark:bg-(--dark-primary) dark:border-(--sombra);
  }

  /* Botão de menu mobile */
  .menu-button {
    @apply text-(--default) sm:hidden cursor-pointer;
  }

  /* Container da Navbar */
  .navbar-container {
    @apply flex justify-end items-center;
  }

  /* Container do usuário */
  .user-container {
    @apply ml-auto flex items-center space-x-0;
  }

  /* Dropdown */
  .dropdown-button {
    @apply bg-(--light-primary) px-3 py-2 text-sm text-gray-500 flex items-center
     cursor-pointer dark:bg-(--dark-primary) dark:text-gray-400;
  }

  /* Dropdown border */
  .dropdown-button-border {
    @apply border-e-2 border-gray-200 dark:border-(--sombra) p-2;
  }

  .dropdown-content {
    @apply absolute right-0 z-50 mt-2 rounded-md shadow-lg bg-(--light-primary)
     w-48 dark:bg-(--dark-primary);
  }

  .dropdown-item {
    @apply block w-full px-4 py-2 text-sm text-gray-700 border-b-1 border-gray-300 
      dark:border-(--sombra) hover:bg-gray-200 focus:bg-gray-100 focus:outline-none
      hover:rounded-md dark:text-gray-400 dark:hover:bg-(--dark-secondary) 
    dark:focus:bg-gray-400;
  }

  /* Ícone do dropdown */
  .dropdown-icon {
    @apply ml-2 h-4 w-4;
  }

  /****** Fim Navbar ******/

  /***** Início do Toggle Theme ****/

  .themeToggle {
    @apply w-8 h-8 flex items-center bg-gray-300 dark:bg-gray-700 
      rounded-full p-1 transform transition-transform duration-300 focus:outline-none;
  }

  .themeToggleThumb {
    @apply bg-white dark:bg-gray-900 w-6 h-6 rounded-full shadow-md 
      transform transition-transform duration-300 flex items-center justify-center 
      cursor-pointer;
  }

  /**** Fim do Toggle Them ****/

  /****** Início Sidebar ******/

  .sidebar {
    @apply fixed inset-y-0 left-0 w-64 bg-(--light-primary) shadow-md 
      transform -translate-x-full transition-transform duration-300 ease-in-out
      sm:translate-x-0 z-50;
  }

  .sidebar-open {
    @apply translate-x-0;
  }

  .sidebar-container {
    @apply bg-(--light-primary) relative h-full dark:bg-(--dark-primary);
  }

  .sidebar-close-button {
    @apply absolute top-4 right-4 text-gray-500 sm:hidden cursor-pointer;
  }

  .sidebar-header {
    @apply flex items-center shadow-xs space-x-2 pl-4 py-3 dark:bg-(--dark-primary);
  }

  .sidebar-title {
    @apply text-xl font-bold text-(--default);
  }

  .sidebar-nav {
    @apply mt-4;
  }

  .sidebar-link {
    @apply px-4 py-3 text-sm text-gray-500 border-b-1 border-gray-200 
      dark:border-(--sombra)  hover:bg-gray-200 hover:text-(--default) flex items-center 
      space-x-1 dark:text-gray-400 dark:hover:bg-(--dark-secondary) dark:hover:text-(--default);
  }

  .sidebar-link.active {
    @apply bg-gray-200 text-(--default) dark:bg-(--dark-secondary) dark:text-(--default) 
     shadow-xs;
  }

  .sidebar-danger {
    @apply px-4 py-2 text-sm text-(--text-danger) border-b-1 border-gray-200 
      dark:border-(--sombra)  hover:bg-gray-200 hover:text-(--text-danger) flex items-center 
      space-x-1 dark:text-(--text-danger) dark:hover:bg-(--dark-secondary) 
      dark:hover:text-(--text-danger);
  }

  .sidebar-link.danger {
    @apply bg-gray-200 text-(--danger) dark:bg-(--danger-secondary) dark:text-(--default) 
     shadow-xs;
  }

  /****** Fim Sidebar ******/

  /****** Início Conteúdo Principal ******/
  .main-content {
    @apply flex-1 px-4 pb-4 pt-2 ml-0 sm:ml-64;
  }

  .content-wrapper {
    @apply mx-auto px-1 sm:px-0 lg:px-0 mb-2;
  }

  .content-header {
    @apply flex justify-between items-center;
  }

  .content-title {
    @apply text-xl font-semibold text-gray-500 dark:text-gray-400;
  }

  .breadcrumb {
    @apply text-sm text-gray-500 dark:text-gray-400;
  }

  .breadcrumb-link {
    @apply text-gray-400 hover:no-underline hover:text-(--dark-secondary) 
      dark:hover:text-(--light-primary);
  }

  .content-box {
    @apply bg-(--light-primary) shadow-lg dark:text-gray-400 sm:rounded-lg text-gray-900
     p-4 dark:bg-(--dark-primary);
  }

  .content-box-header {
    @apply flex justify-between items-center border-b-2 border-gray-200 pb-2 mb-3 
      dark:border-(--sombra);
  }

  .content-box-title {
    @apply text-base font-semibold text-gray-500 dark:text-gray-400;
  }

  .content-box-btn {
    @apply flex space-x-1;
  }

  .content-box-footer-btn {
    @apply flex justify-end items-center space-x-2;
  }

  .content-box-body {
    @apply text-sm p-4  dark:text-gray-400;
  }

  /****** Fim Conteúdo Principal ******/

  /****** Inicio Tabela Listar Registros ******/
  .table-container {
    @apply overflow-hidden bg-white shadow-sm dark:bg-(--dark-secondary) sm:rounded-lg;
  }

  .table {
    @apply min-w-full divide-y divide-gray-200 border-separate border-spacing-0 
      dark:divide-(--dark-tertiary);
  }

  .table-row-header {
    @apply bg-gray-50 dark:bg-(--sombra);
  }

  .table-header {
    @apply px-6 py-3 text-left text-sm font-medium text-gray-500 tracking-wider border-b
     border-gray-200 dark:border-b-(--dark-tertiary) dark:text-gray-400;
  }

  .table-header.center {
    @apply text-center;
  }

  .table-body {
    @apply px-6 py-2 text-sm text-gray-950 border-b border-gray-200 dark:text-gray-400
     dark:border-b-(--dark-tertiary);
  }

  .table-row-body {
    @apply hover:bg-gray-50 dark:hover:bg-(--sombra);
  }

  .table-actions {
    @apply text-center space-x-1 flex justify-center items-center;
  }

  .table-actions a {
    @apply inline-block;
  }

  .table-zebra-light tr:nth-child(odd) {
    @apply bg-gray-100 dark:bg-(--dark-secondary);
  }

  .table-zebra-light tr:nth-child(even) {
    @apply bg-white dark:bg-(--dark-tertiary);
  }

  .table-zebra-light tr:hover {
    @apply bg-gray-200 dark:bg-(--dark-secondary) cursor-pointer;
  }

  /****** Fim Tabela Listar Registros ******/

  /****** Início Formulário ******/

  /* Label dos inputs */
  .form-label {
    @apply text-gray-600 block text-sm font-semibold dark:text-gray-400;
  }

  /* Input padrão
  .form-input {
    @apply border p-2 h-14 text-base w-full mt-1 rounded-xl border-gray-200 shadow-sm 
      focus:border-gray-300 focus:ring focus:ring-gray-200 focus:outline-none 
      dark:bg-(--dark-secondary) dark:border-(--sombra) dark:text-gray-200 
      dark:placeholder-gray-400;
  } */

  /* Estilização do label 
  .form-label {
    @apply text-gray-700 block text-sm font-medium dark:text-gray-400;
  }*/

  /* Estilização do input */

  .form-input {
    @apply mt-1 w-full p-3 pr-10 text-gray-600 rounded-xl border border-gray-300 
     focus:border-gray-400 dark:focus:border-gray-600 focus:ring-1 focus:ring-gray-400
     dark:focus:ring-gray-600 focus:outline-none px-3 py-3 bg-gray-100
     dark:border-(--borda) dark:text-gray-400 dark:bg-(--dark-secondary)
     dark:placeholder-gray-400;
  }

  /* vazio → cinza 
  .form-input:placeholder-shown {
    @apply bg-gray-100 dark:bg-(--dark-primary) shadow-lg;
  }*/

  /* preenchido → branco 
  .form-input:not(:placeholder-shown) {
    @apply bg-white dark:bg-(--dark-secondary) shadow-lg;
  }*/

  /****** Fim Formulário ******/

  /****** Início Detalhes registro ******/

  /* Caixa para apresentar os detalhes do registro */
  .detail-box {
    @apply text-gray-700;
  }

  /* Detalhes do registro */
  .title-detail-content {
    @apply font-semibold dark:text-gray-400;
  }

  /* Detalhes do registro */
  .detail-content {
    @apply dark:text-gray-300;
  }

  /****** Fim Detalhes registro ******/

  /* Início Paginação */
  .pagination {
    @apply flex justify-center items-center space-x-1 mt-4 w-full;
  }

  .pagination-button {
    @apply px-3 py-1 rounded-md border border-gray-300 text-gray-700 
    hover:bg-gray-200 hover:text-(--default) transition-colors cursor-pointer
      dark:border-(--sombra) dark:text-gray-400  dark:hover:bg-(--dark-secondary) 
      dark:hover:text-(--default);
  }

  .pagination-button.active {
    @apply bg-(--default) text-white border-(--light-tertiary) dark:border-(--sombra) shadow-md 
      dark:bg-(--dark-secondary) dark:text-(--default);
  }

  .pagination-button.disabled {
    @apply opacity-50 cursor-not-allowed pointer-events-none;
  }
  /* Fim  Paginação */

  /****** Início Botões ******/

  .btn-default {
    @apply bg-(--default) text-white text-sm px-2 py-1 rounded hover:bg-(--default-secondary) 
     cursor-pointer shadow-md;
  }

  .btn-default-md {
    @apply bg-(--default) text-white text-sm px-2 py-2 rounded hover:bg-(--default-secondary) 
     cursor-pointer shadow-md;
  }

  .btn-light {
    @apply bg-(--light-primary) dark:bg-(--dark-primary) text-gray-500  hover:text-(--default)
     text-sm px-2 py-2 rounded hover:bg-(--light-tertiary) dark:hover:bg-(--dark-tertiary)  
     cursor-pointer shadow-lg;

    /*  @apply px-4 py-3 text-sm text-gray-500  hover:bg-gray-200 hover:text-(--default)  dark:text-gray-400 dark:hover:bg-(--dark-secondary) dark:hover:text-(--default)  cursor-pointer shadow-lg;*/
  }

  /* Botão azul */
  .btn-primary {
    @apply bg-(--primary)  text-white text-sm px-2 py-1 rounded hover:bg-(--text-primary) 
     cursor-pointer shadow-md;
  }

  /* Botão azul médio */
  .btn-primary-md {
    @apply bg-(--primary) text-white text-base px-2 py-2 rounded hover:bg-(--text-primary) 
     cursor-pointer shadow-md;
  }

  /* Botão azul claro */
  .btn-info {
    @apply bg-(--info) text-white text-sm px-2 py-1 rounded hover:bg-(--text-info)  
    cursor-pointer shadow-md;
  }

  /* Botão verde */
  .btn-success {
    @apply bg-(--success) text-white text-sm px-2 py-1 rounded hover:bg-(--text-success)  
    cursor-pointer shadow-md;
  }

  /* Botão amarelo */
  .btn-warning {
    @apply bg-(--warning) text-white text-sm px-2 py-1 rounded hover:bg-(--text-warning) 
     cursor-pointer shadow-md;
  }

  /* Botão vermelho */
  .btn-danger {
    @apply bg-(--danger) text-white text-sm px-2 py-1 rounded hover:bg-(--text-danger) 
     cursor-pointer shadow-md;
  }

  /* Alinha os botões em linha */
  .align-icon-btn {
    @apply flex items-center space-x-1;
  }

  /****** Fim Botões ******/

  /****** Início Alertas ******/
  .alert-primary {
    @apply p-3 my-3 text-sm text-(--text-primary) rounded-lg bg-(--primary-secondary);
  }

  .alert-secondary {
    @apply p-3 my-3 text-sm text-(--text-secondary) rounded-lg bg-(--secondary-secondary);
  }

  .alert-info {
    @apply p-3 my-3 text-sm text-(--text-info) rounded-lg bg-(--info-secondary);
  }

  .alert-success {
    @apply p-3 my-3 text-sm text-(--text-success) rounded-lg bg-(--success-secondary);
  }

  .alert-warning {
    @apply p-3 my-3 text-sm text-(--text-warning) rounded-lg bg-(--warning-secondary);
  }

  .alert-danger {
    @apply p-3 my-3 text-sm text-(--text-danger) rounded-lg bg-(--danger-secondary);
  }

  .alert-light {
    @apply p-3 my-3 text-sm text-(--text-light) rounded-lg bg-(--alert-light-secondary);
  }

  .alert-dark {
    @apply p-3 my-3 text-sm text-(--text-dark) rounded-lg bg-(--alert-dark-secondary);
  }

  /******** Cor fechada ***/

  .alert-dismissible-primary {
    @apply p-3 my-3 text-sm text-white rounded-lg bg-(--primary);
  }

  .alert-dismissible-secondary {
    @apply p-3 my-3 text-sm text-white rounded-lg bg-(--secondary);
  }

  .alert-dismissible-info {
    @apply p-3 my-3 text-sm text-white rounded-lg bg-(--info);
  }

  .alert-dismissible-success {
    @apply p-3 my-3 text-sm text-white rounded-lg bg-(--success);
  }

  .alert-dismissible-warning {
    @apply p-3 my-3 text-sm text-white rounded-lg bg-(--warning);
  }

  .alert-dismissible-danger {
    @apply p-3 my-3 text-sm text-white rounded-lg bg-(--danger);
  }

  .alert-dismissible-light {
    @apply p-3 my-3 text-sm text-gray-600 rounded-lg bg-(--alert-light);
  }

  .alert-dismissible-dark {
    @apply p-3 my-3 text-sm text-white rounded-lg bg-(--alert-dark);
  }

  /****** Fim Alertas ******/
}
